<style>
  #member {
      width: 100%;
      max-width: 150px;
      height: auto;
  }
  .left {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      float: left;
  }
  .right {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      float: right;
  }
  .container {
      height: auto;
      overflow: hidden;
  }   
  img {
        border-radius: 50%;
  }
</style>

<!-- EQUIPE FAUNa -->

<div class="user-details">
  <h1> EQUIPE FAUNa </h1>
</div>

<div class="container">
  <div class="user">
      <div class="left">
          <h3></h3>
          <p>
              Designer e Desenvolvedor de Jogos, 18 anos, formado no projeto NAVE em programação de jogos digitais e agora sigo
              cursando design no CESAR School. Especialista em desenvolvimento de IoT, participando como mentor de diversos workshops
              no LOUCo voltados para a melhoria da cidade. Participante de projetos como o Wereld, semifinalista do Technovation
              challenge 2016.
          </p>
      </div>
      <div class="right">
          <h3>Guilherme Albuquerque (Full-stack Developer)</h3>
          <img src="../assets/img/guilherme.jpeg" id="member" alt="Guilherme">
      </div>
  </div>

  <div class="user">
      <div class="left">
          <h3>João Felipe (Full-stack Developer)</h3>
          <img src="../assets/img/Cecilia.jpg" id="member" alt="João">
      </div>
      <div class="right">
          <h3></h3>
          <p>
              Estudante de Design da Cesar, com 20 anos de idade, apresenta habilidades de desenho e trabalhos manuais como também
              tem conhecimento na área de arquitetura e administração. Além disso, é fluente em inglês e tem o nível básico de
              japonês. Tem interesse em trabalhar na parte de animação como também na área de jogos. Teve participação de trabalhar
              com UX e UI no Projeto NESS.
          </p>
      </div>
  </div>

  <div class="user">
      <div class="left">
          <h3></h3>
          <p>
              Estudante de Design da Cesar School, 24 anos de idade, possui grande conhecimento
              na área de jogos e gamificação, possui destreza com trabalhos manuais, 
              tem experiência com edição de fotos e ilustrações digitais. Possui inglês avançado. 
              Tem como objetivo principal trabalhar na área de jogos como Game lefter. 
              Participação no Projeto NESS como UX e UI lefter.
          </p>
      </div>
      <div class="right">
          <h3>Arthur Katz (Full-stack Developer)</h3>
          <img src="../assets/img/Kleber.jpg" id="member" alt="Arthur">
      </div>
  </div>
</div>
<div>
  <div class="user">
      <div class="left">
          <h3>Lucas Cyrne (Full-stack Developer)</h3>
          <img src="../assets/img/ReisO.png" id="member" alt="Lucas">
      </div>
      <div class="right">
          <h3></h3>
          <p>
              Estudante de Ciência da Computação do Cesar, 19 anos, sempre muito interessado em assuntos 
              relacionados a computadores e astronomia. Se descobriu na área de forma natural. 
              Com bastante interesse em outras culturas e línguas, principalmente da Ásia, atualmente 
              estuda chinês e japonês. Tem bastante interesse em trabalhar com tecnologia relacionada a astronomia e música.
          </p>
      </div>
  </div>

  <div class="user">
      <div class="left">
          <h3></h3>
          <p>
              Com 17 anos de idade está seguindo o caminho que sempre sonhou, o da tecnologia, 
              e mais especificamente a criação das novas tecnologias, visando revolucionar e 
              melhorar o ambiente ao seu redor com os seus conhecimentos. Hoje, aluno da CESAR School, 
              está desenvolvendo habilidades relacionadas ao desenvolvimento de software e a resolução 
              de problemas, sendo hoje parte do time de desenvolvedores do grupo ALPACK.
          </p>
      </div>
      <div class="right">
          <h3>José (UI/UX)</h3>
          <img src="../assets/img/Pedro.png" id="member" alt="José">
      </div>
  </div>

  <div class="user">
      <div class="left">
          <h3>Noelle (UI/UX)</h3>
          <img src="../assets/img/Leo.png" id="member" alt="Noelle">
      </div>
      <div class="right">
          <h3></h3>
          <p>
              Aos 19 anos, abandonou o curso de Fisioterapia para seguir um caminho diferente. 
              Foi saindo da zona de conforto e deixando a busca por estabilidade para trás que 
              desenvolveu autoconhecimento e assertividade para encontrar-se em Ciência da Computação. 
              Adquiriu conhecimentos em desenvolvimento de software, metodologias ágeis e resolução de 
              problemas. Hoje, aos 21 anos, faz parte do time de rights da ALPACK.
          </p>
      </div>
  </div>

  <div class="user">
    <div class="left">
        <h3></h3>
        <p>
            Com 17 anos de idade está seguindo o caminho que sempre sonhou, o da tecnologia, 
            e mais especificamente a criação das novas tecnologias, visando revolucionar e 
            melhorar o ambiente ao seu redor com os seus conhecimentos. Hoje, aluno da CESAR School, 
            está desenvolvendo habilidades relacionadas ao desenvolvimento de software e a resolução 
            de problemas, sendo hoje parte do time de desenvolvedores do grupo ALPACK.
        </p>
    </div>
    <div class="right">
        <h3>Pedro Vilella (UI/UX)</h3>
        <img src="../assets/img/Pedro.png" id="member" alt="Pedro">
    </div>
  </div>

  <div class="user">
    <div class="left">
        <h3>Arthur Ramos (UI/UX)</h3>
        <img src="../assets/img/Leo.png" id="member" alt="Arthur">
    </div>
    <div class="right">
        <h3></h3>
        <p>
            Aos 19 anos, abandonou o curso de Fisioterapia para seguir um caminho diferente. 
            Foi saindo da zona de conforto e deixando a busca por estabilidade para trás que 
            desenvolveu autoconhecimento e assertividade para encontrar-se em Ciência da Computação. 
            Adquiriu conhecimentos em desenvolvimento de software, metodologias ágeis e resolução de 
            problemas. Hoje, aos 21 anos, faz parte do time de rights da ALPACK.
        </p>
    </div>
  </div>  
</div>