<!-- COMEÇO DO SITE -->

<div class="user-details">
  <h1> Últimas Atualizações </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>O PROJETO FAUNa se inicia a partir da colaboração entre os estudantes da CESAR School e do Laboratório de Objetos Urbanos Conectados, mais conhecido como LOUCo. O desafio dado pelos clientes tem como foco melhorar a conectividade entre usuários do laboratório. A partir disso, o grupo iniciou seu processo de imersão, inicialmente tentando entender a dor do cliente.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Segundo o cliente, é muito difícil fazer uma ponte entre os usuários do laboratório, pois não há, atualmente, um meio concreto de registrar quais pessoas já passaram pelo laboratório. Isso faz com que a interação entre usuários não seja tão autônoma como desejado. Outro problema relatado pelos coordenadores dizia a respeito da impossibilidade de registrar as competências e áreas de expertise de cada usuário, algo que julgam vital para o refinamento dessa atmosfera autônoma do espaço. Mesmo que essa troca de informações ocorra, ela é muito informal e limitada à contatos dos próprios coordenadores e ao acaso.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

 
 <!-- ANTIGO ABOUT -->
 
 <!-- <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div> -->
