<!-- #O PROJETO NESS -->
<div class="user-details">
  <h1> FAUNa, O PROJETO </h1>
  <p> 
      O Projeto N.E.S.S (Núcleo Englobado de Soluções e Sistemas) foi criado em parceria com Cesar School e o
      Laboratório de Objetos Urbanos Conectados (L.O.U.Co) com o objetivo de tornar o usuário do Laboratório 
      protagonista tanto processo de agendamento de máquinas do espaço, como no desenvolvimento de projetos de forma colaborativa.
  </p>
</div>
<div class="user-projects">
  <div class="images-right">
      <img alt="blank" src="{{ "/assets/img/blank.png" | prepend: site.baseurl }}" />
      <img alt="fase1" src="{{ "/assets/img/fase1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
      <h3> 1º Fase </h3>
      <p>
          Nas primeiras semanas, a equipe focou na etapa de imersão do processo de inovação C.E.S.A.R. com o objetivo de
          entender ambos cliente e usuário para então desenvolver uma proposta de valor. Considerando o curto prazo para
          conclusão do projeto, foi essencial a adoção de metodologias ágeis como Double Diamond, SCRUM, entre outras.
          Ao longo desta semanas, preenchemos o value proposition canvas, mapa de empatia e mapa de valor - essenciais para
          mapear as dores do cliente e usuário e direcionar a solução que será desenvolvida.
      </p>
  </div>
  <br><br><br><br>
</div>

<div class="user-projects">
  <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/fase2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
      <h3> 2º Fase </h3>
      <p> 
          Nas semanas seguintes, a equipe ALPACK pôs a mão na massa para validar as hipóteses elaboradas na
          etapa anterior. A equipe compilou e avaliou resultados desde pesquisa de similares à testes com 
          protótipos de baixa, e média, fidelidade para guiar equipe no desenvolver da solução. Avaliados os
          resultados, arquitetamos a solução e escolhemos as tecnologias necessarias para iterar o mais rápido
          e de forma eficiente possível. Focamos em fazer pequenas provas de conceito, permitindo validar mais
          rapidamente as diferentes partes da solução.
      </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/blank.png" | prepend: site.baseurl }}" />
      <img alt="mountains" src="{{ "/assets/img/gql-amp-as.jpg" | prepend: site.baseurl }}" />
      <img alt="mountains" src="{{ "/assets/img/blank.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
      <h3> 3º Fase </h3>
      <p>
          Na terceira e última fase do projeto, já nas semanas finais, a equipe integrou as diferentes partes da
          solução - utilizando tecnologias como GraphQL, Amplify, AppSync, entre outras. Ao final, foi entregue ao
          cliente, além de uma plataforma de agendamento, um applicativo que faz uso de conceitos de gamificação
          para incentivar o desenvolvimento de projetos diversos de forma colaborativa. A solução tem como base
          um Quest Board, onde usuários postam quests, ou projetos, que têm necessidades especificas, e uma base
          de usuário onde cada um define suas habilidades e nível de expertise nas mesmas. A aplicação entregue
          ao cliente lhe provê uma ferramenta de baixo custo e alta performance que serve como ponte ao
          usuário final, conectando quem tem à quem precisa.
      </p>
  </div>
</div>