.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: rgb(0, 0, 0);
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: rgb(7, 7, 7);
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}